h2.hook{
    margin-top: 150px;
    font-size: 200%;
    font-weight:bold;
    text-align:center;
}
#logo{
    min-width: 8%;
	max-width: 15%;
	position: fixed;
	top: 0%;
	margin-left: auto;
	margin-top: 8px;
	z-index: 10;
	}
div.mynav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
    background-color: darkgrey;
    text-align: center;
    position: fixed;
    transform: translate(50%, -120%);
    min-width: 50%;
    max-width: 80%;
    z-index: 10;
}
.mynav > div {
    border-style: ridge;
    border-color: brown;
    border-width: 10px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

div.club_descr{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 auto;
    background-color: lightgrey;
    text-align: center;
    width: 75%;
    height: 80%;
    border-style: solid;
    border-color: brown;
    border-width: 5px;
    }
div.pics1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
    }
div.box1{
    place-items: center;
    }
div.box2{
    place-items: center;}
div.about{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 auto;
    background-color: lightgrey;
    text-align: center;
    width: 75%;
    margin-top: 20px;
    border-style: solid;
    border-color: brown;
    border-width: 5px;}
#Calendar{
    width: 80%;
    height: 98%;
    }
#QR, #psichilogo{
    width: 50%;
    height: 48%;
    padding: 5px;
    }
#denver_service{
    float: right;
    width: 50%;
    left: 80%;
    margin: 20px;
    }
