h2.hook{
    margin-top: 150px;
    font-size: 200%;
}
#logo{
	width: 15%;
	position: fixed;
	top: 0%;
	}
div.mynav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    background-color: darkgrey;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    padding: 10px;
    width: 70%;
}
.mynav > div {
    border-style: ridge;
    border-color: brown;
    border-width: 10px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
a.sectors{
    font-size: 0.9em;
    color: black;
	font-size: 18px;}

div.club_descr{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 auto;
    background-color: lightgrey;
    text-align: center;
    width: 70%;
    height: 80%;
    }
div.pics1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
    }
div.box1{
    place-items: center;
    }
div.box2{
    place-items: center;}
div.about{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 auto;
    background-color: lightgrey;
    text-align: center;
    width: 70%;
    margin-top: 20px;}
#Calendar{
    width: 80%;
    height: 98%;
    }
#QR, #psichilogo{
    width: 50%;
    height: 48%;
    padding: 5px;
    }
#denver_service{
    float: right;
    width: 50%;
    left: 80%;
    margin: 20px;
    }
@media screen and (max-width: 1200px) {
    h2.hook{
        margin-top: 170px;
        font-size: 180%;}
    div.mynav{
        width: 70%;
        left: 50%;
    }
    #logo{
        width: 150px;
    }
    a.sectors{
        font-size: 0.75em;}
}
@media screen and (max-width: 1000px) {
    h2.hook{
        margin-top: 180px;
        font-size: 175%;}
    div.mynav{
        width: 70%;
    }
    #logo{
        width: 125px;
    }
}
@media screen and (max-width: 800px) {
    h2.hook{
        margin-top: 200px;
        font-size: 150%;}
    div.mynav{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    h2.hook{
        margin-top: 250px;
        font-size: 150%;}
    div.mynav{
        width: 50%;
        left: 55%;
    }
    a.sectors{
        font-size: 0.6em;}
}

.Events > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
}

.PrevEvents > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
}
div.Events {
    background-color: transparent;
    margin-bottom: 5px;
}
.PrevEvents {
    margin-top: 10px;
}
.list {
    background-color: darkgrey;
    border: solid;
    border-width: 8px;
    border-color: brown;
    margin: 10px;
    place-items: center;
}

.list1 {
    background-color: lightgrey;
    border: dashed;
    border-width: 8px;
    border-color: brown;
    margin: 10px;
    padding: 20px;
}
